<div style="background-color: rgb(237, 237, 237); opacity: 0.9;" ng-class="GrafCtrl.animateGraphSwitching(5);">
	<div style="padding-left: 50px; margin-left: -50px; height: 48px;">
		<p style="text-align: center; font-weight: bold; margin: 0; line-height: 48px; font-size: large;">Časovni potek:</p>
	</div>
	<canvas id="graph_timeline" width="400" height="400"></canvas>
	<canvas id="background_timeline" style="position: absolute; top: 48px; left: 0; z-index: -1;" width="400" height="400"></canvas>
</div>
